.DS_Store
.idea/
.vscode/
*.iml
**/.env

# Java
**/target/
**/*.class

# JavaScript / TypeScript
**/node_modules/
**/dist/

# Python
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/*.pyc

# Go
**/bin/

# PHP
**/vendor/

# SDK generation working files
.codegen-work/
.tmp/
