WAAS_PID=
WAAS_API_KEY=
WAAS_ENDPOINT=https://t-example.cregis.dev
WAAS_WALLET_ID=
WAAS_CHAIN_ID=198
WAAS_TEST_AMOUNT=0.001
WAAS_PAYOUT_TO_ADDRESS=
WAAS_COLLECTION_TO_ADDRESS=

PAYMENT_PID=
PAYMENT_API_KEY=
PAYMENT_ENDPOINT=https://t-example.cregis.dev
PAYMENT_CREGIS_ID=

TEAM_ACCESS_KEY=
TEAM_ACCESS_SECRET=
TEAM_ENDPOINT=https://t-example.cregis.dev

WITHDRAW_ADDRESS=
WITHDRAW_TO_ADDRESS=

